@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h3>Professional Skills:</h3>
    <ul>
        <li>Languages: C#, C/C++, ColdFusion, Java 2, VB/VB.NET, Power Shell, PowerScript, Assembly X86                                                                                                            </li>
        <li>Frameworks: .NET 1.0-4.6, Entity, MFC, STL, ATL, ActiveX, POCO, Chromium, Awesomium, IDIS, Codejock.                                                                                                   </li>
        <li>DB: SQL Server 2000-2014, deep TSQL, ADO.NET, SSMS, SSRS, DTS, PL/SQL (ORACLE 9i), Sqlite, MySql.                                                                                                      </li>
        <li>Data Structures: B/B+Trees, Dictionaries, Linked Lists, Maps, Search Engines and Interpreter languages                                                                                                 </li>
        <li>WEB: MVC 5, ASP/ASP.NET, HTML, XAML, jQuery, AJAX, JSON, JavaScript, XML/XSL/X-Path, WPF, JqGrid, jQuery-UI, JqWidgets, Knockout, Silverlight 4.0, some Angular, WEB Services, Real Time Video Streams </li>
        <li>SDK/Open Source: Microsoft, Poco, Sqlite, Chromium, IDIS, OpenGL, CrashRpt, LLIB, Log4cplus, OpenSSL                                                                                                   </li>
        <li>Tools: VS 02-15, TFS, Codejock Xtreme, NUnit, CPP-Unit, SQL MS, Oracle, InstallShield, Web Storm, Eclipse                                                                                               </li>
        <li>Network protocols: TCP/IP, POP3, IMAP, HTTP/S, REST, SOAP, DDE and COM servers.                                                                                                                         </li>
        <li>Web/Mail Servers: IIS Server 3.0 - 7.5, SMTP, POP3, MS Exchange, ColdFusion 8/9 Server, own WEB Servers.                                                                                                </li>
        <li>Security: .NET 1.X - 4.6, LDAP, AD, Firewall, Windows/Web security, Licensing (+ encryption/decryption).                                                                                                </li>
        <li>Design and architecture: OOP Design patterns and all layers' design/coding skills (MVC3-MVC5), high traffic Enterprise solutions / Frameworks design and architecture.                                  </li>
    </ul>                                                                                                                                                                                                              
    <h3>Summary:</h3>
    <ul>
        <li>25 years in Software Engineering and Architecture in wide areas of IT.                                                                                                  </li>
        <li>Extensive experience in design, development, deployment and support of high-traffic Web/Windows-based N-Tier Enterprise solu-tions and Frameworks.                      </li>
        <li>Solid background in business and distributed applications, developed and maintained sophisticated healthcare tools and products using medical interfaces and workflows. </li>
        <li>System-wide view as well as ability to get to the detailed design. Strong analytical and problem-solving skills.                                                        </li>
        <li>Ability to learn quickly in different environments. Clients’ support. Self-motivated, responsible and good team player.                                                 </li>
        <li>Methodologies: Agile, SCRUM, SPIRAL                                                                                                                                     </li>
    </ul>
</p>
