@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITrellis assignment</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Igor's solution</h2>
        <p>
            ASP.NET MVC 5 with Entity Framework 6 allows to implement a fast and clear solution.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Code First solution</h2>
    </div>
    <div class="col-md-4">
        <h2>Description</h2>
        <p>TODO Task List allows to use CRUD operations as well as easy scheduling and completing TODO tasks</p>
    </div>
</div>